// Theme Colors
$color-base: #2e3235;
$color-highlight: #949494;

$color-shade-darkest: #1d2027;
$color-shade-dark: #25292c;
$color-shade-mid: #454c5c;
$color-shade-light: #34393c;
$color-shade-lightest: #858991;

// Font Colors
$base-font-color: #acacac;

$base-link-color: #abc4ce;
$base-link-color-active: #abc4ce;
